header {
    width: 400px;
    background-color: purple;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px 20px 0px 0px;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 70px;
}

h1, h2 {
    margin: 0;
}

main {
margin-left: 10px;
font-size: 2rem;
font-family: cursive;
font-weight: bold;
padding-top: 35px;
padding-bottom: 35px;
text-align: center;
width: 400px;
border: 2px;
border-color: solid purple;

}

footer {
    width: 400px;
    background-color: purple;
    height: 35px;
    border-radius: 0px 0px 20px 20px;
    
}
